header h1 {
  color: orange;
  text-align: center;
  margin: 20px 150px;
}
header {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
nav {
  margin: auto;
}
main {
  display: flex;
}
form {
  border-bottom: 1px solid;
  padding: 10px;
}

.description {
  margin-top: 200px;
}

button {
  font-size: 18px;
  background-blend-mode: lighten;
}

#status {
  color: green;
}
