header h1 {
  color: orange;
  text-align: right;
  margin: 20px 150px;
}
header {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
nav {
  margin: auto;
}
main {
  display: flex;
}
form {
  border-bottom: 1px solid;
  padding: 10px;
}
table {
  border-collapse: collapse;
}

table,
tr,
td,
th {
  border: 1px solid black;
}
